*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
  
#logo {
    height: 50px;
    margin-right: 20px;
    background-color: white;
}

header nav {
    margin: auto;
}
  
  

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    flex: 1;
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: #444;
}



main {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background-image: url('/img/tandil-fondo.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
}



  
main h1,
main p {
    color: rgb(241, 232, 232);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 36px;
    margin: 0;
}






  
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 20px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
  
.card h2 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 10px 0;
}
  
.card p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin: 0;
    padding: 0 10px;
}
  
.card a {
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}
  
.card a:hover {
    background-color: #333;
    color: white;
}